@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -1px;
  color: #000;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  position: relative;
  display: block;
}

.header .inner {
  position: relative;
  display: block;
}

.header-top {
  position: relative;
  display: block;
  width: 100%;
  /* height: 85px; */
  padding-top: 29px;
}

.logo {
  position: absolute;
  left: 0;
  top: 45%;
  display: block;
  width: 155px;
  height: 34px;
  background: url('../images/sp_common.png') no-repeat;
  background-position: 0 0;
}

.header-top-place {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 345px;
  border-bottom: 1px solid #222;
  padding-left: 10px;
  line-height: 29px;
  font-size: 15px;
  font-weight: 600;
  color: #111;
}

.header-top-place::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/sp_common.png') no-repeat;
  background-position: -164px 0;
  padding-right: 8px;
}

.header-top-sign {
  position: absolute;
  right: 0;
  top: 60%;
  display: block;

}

.sign-box {
  position: relative;
  display: block;
}

.sign-box>li {
  position: relative;
  display: block;
  float: left;
}

.sign-box>li>a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #111;
  padding: 10px;


}

.sign-box .lang-box-lang {
  width: 60px;
  height: 27px;
  border: 1px solid #ddd;
  border-radius: 13.5px;
  margin-left: 10px;
  color: #888888;
  font-size: 12px;
  font-weight: 400;
  padding-left: 9px;
  letter-spacing: -1.1px;
}

.sign-box .lang-box-lang::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 8px;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: transparent #888 #888 transparent;
  transform: rotate(45deg);
}

.lang-box-lang option {
  display: block;
  line-height: 18px;
  font-size: 12px;
  color: #888888;
  font-weight: 400;
}

.header-bottom {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 30px;
}

.gnb {
  position: relative;
  display: block;
  /* text-align: center; */
}

.gnb>li {
  position: relative;
  display: inline-block;

}

.gnb>li>a {
  position: relative;
  /* width: 100%; */
  font-size: 18px;
  color: #111;
  line-height: 54px;
  padding: 0 58px;
}
.gnb>li>a::after{
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #111;
  transform: translateX(-50%) scaleX(0);
  transition: all 0.3s;
}
.gnb>li>a:hover::after{
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}
.gnb>li:first-child a {
  padding-left: 0;
}


.gnb-more-btn{
  position: absolute;
  top: 28px;
  right: 0;
  font-size: 18px;
  color: #111;
  line-height: 54px;
}
.gnb-more-btn::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
  margin-left: 7px;
  margin-right: 4px;
  vertical-align: 4px;
  transition: all 0.3s;

}

/* Visual */
.visual {
  position: relative;
  display: block;
}

/* Order */
.order {
  position: relative;
  display: block;
}

.order .inner {
  position: relative;
  display: block;
}

/* Notice */
.notice {
  position: relative;
  display: block;
}

.notice .inner {
  position: relative;
  display: block;
}

/* Footer */
.footer {
  position: relative;
  display: block;
}

.footer .inner {
  position: relative;
  display: block;
}