@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -1px;
  color: #000;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

/* 안내창 */
.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}

.modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 400px;
  background: url("../images/modalimg.png") no-repeat center #ddd;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 7px 0px rgba(0 0 0 / 70%);
  border: 5px solid rgba(0, 0, 0, 0.1);
}

.modal-main h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #333;
  padding: 10px 0;
}

.modal-main p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
}

.modal-main b {
  font-weight: 600;
  text-decoration: underline;
  color: #ed1c24;
}

.modal-main strong {
  font-weight: 600;
  text-decoration: underline;
  color: #ed1c24;
}
.modal-line {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
  margin-top: 40px;
  margin-bottom: 10px;
}
.modal-main span {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
  padding: 5px 10px;
  letter-spacing: 0.5px;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  cursor: pointer;
  font-size: 22px;
  color: #555;
  background: transparent;
  /* transition: transform 0.4s; */
}

.modal-close:hover {
  /* transform: rotate(90deg); */
  font-size: 21px;
}

.modal-close:active {
  font-size: 22px;
}

/* gotop */
.gotop-box {
  position: fixed;
  right: 20px;
  bottom: 0;
  display: block;
  width: 46px;
  height: 46px;
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 100%;
  z-index: 9999;
  transition: bottom 0.5s;
}

.gotop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 16.5px;
  height: 18px;
  background: url("../images/gotop.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
/* 배너 */
.domino-benner {
  position: fixed;
  top: 195px;
  right: 180px;
  z-index: 9999;
  animation: benner-img 1s infinite;
}

.domino-b {
  width: 100%;
}

@keyframes benner-img {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0%);
  }
}

.benner-close {
  position: absolute;
  right: 5px;
  top: 30px;
  width: 16px;
  height: 16px;
  background: url("../images/close.png") no-repeat center;
  border: 0;
  font-size: 0;
  cursor: pointer;
}

/* 모바일 퀵 메뉴 */
.mb-quick {
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background: #fff;
  z-index: 99999;
  box-shadow: 0 -2px 5px rgb(0 0 0 / 10%);
}

.mb-quick .inner {
  position: relative;
  display: block;
}

.mb-quick-gnb {
  position: relative;
  display: block;
}

.mb-quick-gnb-depth {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.mb-quick-gnb-depth > li {
  position: relative;
  padding: 15px 0;
}

.mb-quick-gnb-depth > li > a > i {
  position: relative;
  display: block;
  text-align: center;
}

.mb-quick-gnb-depth > li > a > i > img {
  /* width: 18.5px; */
  height: 25px;
}

.mb-quick-gnb-depth > li:last-child > a > i > img {
  margin: 10px 0;
  height: 5px;
}

.mb-quick-gnb-depth > li > a > p {
  font-size: 10px;
  color: #222;
  margin-top: 6px;
}

.quick {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  background: #ff143c;
  border-radius: 100%;
  padding-top: 11px;
}

.quick i img {
  display: block;
  margin: 0 auto;
  height: 30px;
  text-align: center;
}

.quick p {
  display: block;
  font-size: 11px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 6px;
  padding-left: 20px;
}

/* 모바일 더보기 메뉴 */
.mb-menu {
  position: fixed;
  top: 0;
  right: -100%;
  display: block;

  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999;
  transition: right 0.5s;
}
.mb-menu-active {
  right: 0;
}

.mb-menu-top {
  padding: 66px 0 10px;
  margin-left: 30px;
  border-bottom: 3px solid #000;
}

.mb-info > a {
  font-size: 24px;
  font-weight: 500;
  color: #111;
}

.mb-info > a:last-child {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 200;
  color: #888;
}

.mb-close {
  position: absolute;
  top: 17.5px;
  right: 20px;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/close.png") no-repeat center;
  border: 0;
  cursor: pointer;
}

.mb-menu-txt {
  overflow: auto;
  overflow-x: hidden;
  height: calc(100% - 103px);
}

.mb-menu-gnb {
  margin-top: 40px;
  margin-left: 30px;
}
.mb-menu-depth > li {
  padding: 34px 0 0 10px;
}

.mb-menu-depth > li > a {
  display: block;
  font-size: 17px;
  color: #111;
  font-weight: 300;
}
.mb-menu-depth > li:first-child > a {
  font-weight: 700;
}

.mb-menu-notice {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #dddddd;
}

.mb-menu-notice > a::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 78px;
  width: 13px;
  height: 13px;
  background: url("../images/plus.png") no-repeat center;
  background-size: cover;
}
.mb-menu-notice > p {
  margin-top: 14px;
  margin-right: 22px;
}

.mb-menu-notice > p > a {
  display: block;
  font-size: 15px;
  color: #888888;
  line-height: 22px;
  letter-spacing: -0.4px;
}

.mb-menu-sns {
  display: flex;
  padding: 50px 0 70px 40px;
}

.mb-menu-sns li {
  position: relative;
  display: block;
  margin-right: 10px;
}
.mb-menu-sns li:last-child {
  margin-right: 0;
}

.mb-menu-sns li a {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
}

.mb-bg {
  background: url("../images/mb-bg.png") no-repeat center;
  background-size: cover;
}

.mb-is {
  background: url("../images/mb-in.png") no-repeat center;
  background-size: cover;
}

.mb-fb {
  background: url("../images/mb-fb.png") no-repeat center;
  background-size: cover;
}

.mb-yt {
  background: url("../images/mb-yt.png") no-repeat center;
  background-size: cover;
}

.mb-tw {
  background: url("../images/mb-tw.png") no-repeat center;
  background-size: cover;
}

/* Header */
.header {
  position: relative;
  display: block;
}

.header .inner {
  position: relative;
  display: block;
}

.header-top {
  position: relative;
  display: block;
  width: 100%;
  padding: 30px 0;
}

.header-top-close {
  display: none;
}

.logo {
  position: absolute;
  left: 0;
  top: 30%;
  display: block;
  width: 155px;
  height: 34px;
  background: url("../images/sp_common.png") no-repeat;
  background-position: 0 0;
}

.header-top-place {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 345px;
  border-bottom: 1px solid #222;
  padding-left: 10px;
  line-height: 29px;
  font-size: 15px;
  font-weight: 600;
  color: #111;
}

.header-top-place::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/sp_common.png") no-repeat;
  background-position: -164px 0;
  padding-right: 8px;
}

.header-top-tip-box {
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 12px 17px;
  background: #ff143c;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  line-height: 19px;
  z-index: 10;
}

.header-top-tip-box::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background: #ff143c;
}

.mb-header-top-place {
  position: relative;
  display: none;
  margin: 0 auto;
  width: 100px;
  line-height: 29px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.mb-header-top-place::after {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 7px 5px;
  border-color: #000 transparent transparent transparent;
  vertical-align: middle;
  margin: 4px 0 0 8px;
  font-size: 0;
}

.header-top-sign {
  position: absolute;
  right: 0;
  top: 42%;
  display: block;
}

.sign-box {
  position: relative;
  display: block;
}

.sign-box > li {
  position: relative;
  display: block;
  float: left;
}

.sign-box > li > a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #111;
  padding: 10px;
}

.sign-box .lang-box-lang {
  position: relative;
  width: 60px;
  height: 27px;
  border: 1px solid #ddd;
  border-radius: 13.5px;
  margin-left: 10px;
  color: #888888;
  font-size: 12px;
  font-weight: 400;
  padding-left: 9px;
  letter-spacing: -1.1px;
  appearance: none;
  outline: none;
}

.sign-box-lang::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 8px;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: transparent #888 #888 transparent;
  transform: rotate(45deg);
  z-index: 99;
}

.lang-box-lang option {
  display: block;
  line-height: 18px;
  font-size: 12px;
  color: #888888;
  font-weight: 400;
}

.header-bottom {
  position: relative;
  display: block;
  width: 100%;
  /* padding-top: 30px; */
}

.header-fix {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header-fix::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 54px;
  background: #fff;
  z-index: -9;
}

.gnb {
  position: relative;
  display: block;
  width: 100%;
  /* text-align: center; */
}

.gnb > li {
  position: relative;
  display: inline-block;
  padding: 0 64px;
}

.gnb > li > a {
  position: relative;
  /* width: 100%; */
  font-size: 18px;
  color: #111;
  line-height: 54px;
}

.gnb > li > a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #111;
  transform: translateX(-50%) scaleX(0);
  transition: all 0.3s;
}

.gnb > li > a:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}

.gnb > li:first-child {
  padding-left: 0;
}

.gnb-more-btn {
  position: absolute;
  top: -1px;
  right: 0;
  font-size: 18px;
  color: #111;
  line-height: 54px;
}

.gnb-more-btn::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
  margin-left: 7px;
  margin-right: 4px;
  vertical-align: 4px;
  transition: all 0.3s;
}

.submenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  top: 100%;
  display: none;
  width: 100vw;
  padding: 22px 0 40px;
  border-top: 1px solid #ddd;
  z-index: 99;
  background-color: #fff;
}

.submenu-left {
  width: 768px;
  padding-right: 100px;
  float: left;
}

.submenu-left-list {
}

.submenu-left-list > li {
  display: block;
  width: 33.3%;
  float: left;
}

.submenu-left-list > li > a {
  display: block;
  padding: 16px 0;
  font-size: 17px;
  color: #111;
  font-weight: 549;
}

.depth2 {
}

.depth2 li {
}

.depth2 li a {
  display: block;
  font-size: 15px;
  color: #555;
  padding: 10px 0;
}

.submenu-right {
  width: 400px;
  height: 100%;
  padding: 22px 0 23px 70px;
  margin-top: 10px;
  float: left;
  border-left: 1px solid #ddd;
}

.submenu-right > a {
  padding: 8px 0;
  display: block;
  width: 270px;
  font-size: 17px;
  font-weight: 549;
  margin-bottom: 15px;
}

.submenu-right-list {
}

.submenu-right-list li {
}

.submenu-right-list li a {
  display: block;
  padding: 8px 0;
  width: 270px;
  font-size: 15px;
  color: #888;
}

/* 헤더 반응형 */
@media screen and (max-width: 1170px) {
  .submenu-left {
    width: 65.64vw;
    padding-right: 8.55vw;
  }

  .submenu-right {
    width: 34.19vw;
  }
}

@media screen and (max-width: 1100px) {
  .gnb > li {
    padding: 0 4.33vw;
  }
}

@media screen and (max-width: 870px) {
  .domino-benner {
    display: none;
  }

  .gnb > li {
    padding: 0 4vw;
  }
}

@media screen and (max-width: 800px) {
  .mb-quick {
    display: block;
  }

  .header-fix-none {
    display: none;
  }

  .logo {
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background: url("../images/ico-logo.png") no-repeat center;
    background-size: cover;
  }

  .header-top {
    padding: 10px 0;
  }

  .header-top-place,
  .header-top-tip-box {
    display: none;
  }

  .mb-header-top-place {
    display: block;
  }

  .header-top-sign {
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 20px;
    background: url("../images/ico-cart.png") no-repeat center;
    background-size: cover;
  }

  .sign-box,
  .gnb > li:nth-child(5),
  .gnb > li:nth-child(6),
  .gnb-more-btn {
    display: none;
  }

  .gnb {
    display: flex;
    justify-content: space-around;
  }

  .gnb > li {
    padding: 0;
  }

  .gnb > li > a {
    font-size: 16px;
    color: #111;
    line-height: 45px;
  }
}

/* Visual */
.visual {
  position: relative;
  display: block;
  height: 495px;
}

.sw-visual {
  width: 100%;
  height: 100%;
}

.sw-visual a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.visual-1 {
  background: url("../images/visual1.jpg") no-repeat center;
  background-size: cover;
}

.visual-2 {
  background: url("../images/visual2.jpg") no-repeat center;
  background-size: cover;
}

.visual-3 {
  background: url("../images/visual3.jpg") no-repeat center;
  background-size: cover;
}

.visual-4 {
  background: url("../images/visual4.jpg") no-repeat center;
  background-size: cover;
}

.visual-5 {
  background: url("../images/visual5.jpg") no-repeat center;
  background-size: cover;
}

.visual-6 {
  background: url("../images/visual6.jpg") no-repeat center;
  background-size: cover;
}

.visual-7 {
  background: url("../images/visual7.jpg") no-repeat center;
  background-size: cover;
}

.sw-visual-prev {
  position: absolute;
  left: 5%;
  top: 50%;
  border-style: solid;
  border-color: transparent #888 #888 transparent;
  border-width: 0 1px 1px 0;
  transform: translateY(-50%) rotate(135deg);
  z-index: 9;
  display: block;
  width: 45px;
  height: 45px;
  font-size: 0;
  background: transparent;
  cursor: pointer;
}

.sw-visual-next {
  position: absolute;
  right: 5%;
  top: 50%;
  border-style: solid;
  border-color: transparent #888 #888 transparent;
  border-width: 0 1px 1px 0;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 9;
  display: block;
  width: 45px;
  height: 45px;
  font-size: 0;
  background: transparent;
  cursor: pointer;
}

.sw-visual-pg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 100px;
  padding: 12px 20px;
  color: #fff;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  z-index: 9;
}

.sw-visual-play {
  position: absolute;
  bottom: 32px;
  right: 50%;
  transform: translateX(27px);
  width: 10px;
  height: 15px;
  background: url("../images/sp_common.png") no-repeat -164px -46px;
  z-index: 9;
  border: 0;
  font-size: 0;
  cursor: pointer;
}

.sw-visual-play-click {
  background-position-x: -184px;
}

@media screen and (max-width: 800px) {
  .visual {
    height: 61.8vw;
  }

  .visual-1 {
    background: url("../images/mb-visual1.jpg") no-repeat center;
    background-size: cover;
  }

  .visual-2 {
    background: url("../images/mb-visual2.jpg") no-repeat center;
    background-size: cover;
  }

  .visual-3 {
    background: url("../images/mb-visual3.jpg") no-repeat center;
    background-size: cover;
  }

  .visual-4 {
    background: url("../images/mb-visual4.jpg") no-repeat center;
    background-size: cover;
  }

  .visual-5 {
    background: url("../images/mb-visual5.jpg") no-repeat center;
    background-size: cover;
  }

  .visual-6 {
    background: url("../images/mb-visual6.jpg") no-repeat center;
    background-size: cover;
  }

  .swiper-wrapper > div:nth-child(7) {
    display: none;
  }

  /* .sw-visual-control{
    display: none;
  }
   */
  .sw-visual-pg {
    left: 96%;
    bottom: 0;
    width: 71px;
    padding: 12px 13px;
    font-size: 13px;
    border-radius: 0;
  }

  .sw-visual-pg::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    display: block;
    width: 2px;
    height: 10px;
    background: #fff;
  }

  .sw-visual-pg::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateY(-50%);
    display: block;
    width: 10px;
    height: 2px;
    background: #fff;
  }

  .sw-visual-prev,
  .sw-visual-next,
  .sw-visual-play {
    display: none;
  }
}

/* Order */
.order {
  position: relative;
  display: block;
}

.order .inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-box {
  position: relative;
  display: block;
  width: calc(100% / 3);
  padding-top: 75px;
  padding-bottom: 95px;
  padding-left: 70px;
}

.order-box a {
  position: relative;
  display: block;
}

.order-box a i {
  position: relative;
  display: block;
  width: 52px;
  height: 38px;
}

.order-box a h3 {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: -4px;
  margin-top: 17px;
}

.order-box a p {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 9px;
  border-radius: 100%;
  border: 0;
}

.order-box a p::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}

.order-box a span {
  position: relative;
  display: block;
  margin-top: 17px;
  padding-left: 3px;
  font-size: 16px;
  line-height: 1.5;
  color: #888;
}

.order-icon1 {
  background: url("../images/sp_common.png") no-repeat -195px -275px;
}

.order-icon2 {
  background: url("../images/sp_common.png") no-repeat -262px -275px;
}

.order-icon3 {
  background: url("../images/order3.png") no-repeat center;
}

.order-box-title1 {
  color: #ff143c;
}

.order-box-title2 {
  color: #1382ff;
}

.order-box-title3 {
  color: #000000;
}

.order-arrow1 {
  background: #ff143c;
}

.order-arrow2 {
  background: #1382ff;
}

.order-arrow3 {
  background: #000000;
}

@media screen and (max-width: 800px) {
  .order .inner {
    border-bottom: 2px solid #000;
  }

  .order .inner div:last-child {
    display: none;
  }

  .order-box {
    width: calc(100% / 2);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: 1px solid #ccc;
    text-align: center;
  }

  .order .inner > div:nth-child(2) {
    border-right: 0;
  }

  .order-box a i {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .order-icon1 {
    background: url("../images/mb-order1.png") no-repeat center;
    background-size: 80px 80px;
  }

  .order-icon2 {
    background: url("../images/mb-order2.png") no-repeat center;
    background-size: cover;
  }

  .order-box a h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 17px;
    color: #111;
    padding-left: 10px;
  }

  .order-box a p {
    width: 14px;
    height: 14px;
    background: #238ece;
    margin-left: 0;
  }

  .order-box a p::after {
    top: 4px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-width: 0 1px 1px 0;
  }

  .order-box a span {
    display: none;
  }
}

/* Benefit */
.benefit {
  position: relative;
  display: block;
  background: #f6f6f6;
}

.benefit .inner {
  position: relative;
  display: block;
  padding: 110px 0;
}

.benefit-box {
  position: relative;
  display: block;
  width: 360px;
  height: 100%;
  float: left;
}

.benefit-box h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.35;
  margin-bottom: 30px;
}

.benefit-box h3 strong {
  font-weight: 700;
  display: block;
  color: #238ece;
}

.benefit-box .benefit-btn {
  width: 103px;
  height: 43px;
  line-height: 43px;
  font-size: 16px;
  background: #222222;
  border: 1px solid #222;
  color: #fff;
  border-radius: 25px;
}

.mb-benefit-box {
  position: relative;
  display: none;
}

.mb-benefit-box h3 {
  font-size: 18px;
  font-weight: 300;
  color: #111;
  line-height: 25px;
}

.mb-benefit-box h3 strong {
  display: block;
  font-weight: 700;
}

.mb-benefit-box .benefit-btn {
  position: absolute;
  right: 20px;
  top: 0;
}

.sw-benefit {
  position: relative;
  display: block;
  width: 756px;
  height: 100%;
  float: left;
}

.sw-benefit a {
  width: 100%;
  height: 100%;
  /* margin-left: 6px; */
}

.sw-benefit a img {
  display: block;
  width: 210px;
  height: 210px;
}

.sw-benefit-prev {
  position: absolute;
  left: 26%;
  top: 50%;
  border-style: solid;
  border-color: transparent #ccc #ccc transparent;
  border-width: 0 1px 1px 0;
  transform: translateY(-50%) rotate(135deg);
  z-index: 9;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  background: transparent;
  cursor: pointer;
}

.sw-benefit-prev.swiper-button-disabled {
  opacity: 0.4;
}

.sw-benefit-next {
  position: absolute;
  right: 3%;
  top: 50%;
  border-style: solid;
  border-color: transparent #ccc #ccc transparent;
  border-width: 0 1px 1px 0;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 9;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  background: transparent;
  cursor: pointer;
}

.sw-benefit-next.swiper-button-disabled {
  opacity: 0.4;
}

/* 베네핏 */
@media screen and (max-width: 1100px) {
  .benefit-box {
    width: 30vw;
  }

  .sw-benefit {
    width: 65vw;
  }
}

@media screen and (max-width: 800px) {
  .benefit {
    background: #fff;
  }

  .benefit .inner {
    padding: 20px 0;
    padding-left: 20px;
  }

  .benefit-box {
    display: none;
  }

  .mb-benefit-box {
    display: block;
    margin-bottom: 20px;
  }

  .mb-benefit-box .benefit-btn {
    width: 80px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    background: #222;
    border: 1px solid #222;
    color: #fff;
    border-radius: 25px;
  }

  .sw-benefit {
    width: 100vw;
  }

  .sw-benefit a img {
    width: 28.5vw;
    height: 28.5vw;
  }

  .sw-benefit-prev,
  .sw-benefit-next {
    display: none;
  }
}

/* Notice */
.notice {
  position: relative;
  display: block;
  padding: 80px 0;
}

.notice .inner {
  position: relative;
  display: block;
}

.sw-notice {
  width: 90%;
  height: 100%;
  padding: 0 20px;
}

.sw-notice .swiper-slide {
  width: 324px;
  height: 401px;
}

.sw-notice a {
  position: relative;
  display: block;
  width: 324px;
  height: 401px;
}

.sw-notice a img {
  width: 324px;
  height: 401px;
}

.sw-notice-prev {
  position: absolute;
  left: 0%;
  top: 50%;
  border-style: solid;
  border-color: transparent #999 #999 transparent;
  border-width: 0 1px 1px 0;
  transform: translateY(-50%) rotate(135deg);
  z-index: 9;
  display: block;
  width: 35px;
  height: 35px;
  font-size: 0;
  background: transparent;
  cursor: pointer;
}

.sw-notice-next {
  position: absolute;
  right: 0%;
  top: 50%;
  border-style: solid;
  border-color: transparent #999 #999 transparent;
  border-width: 0 1px 1px 0;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 9;
  display: block;
  width: 35px;
  height: 35px;
  font-size: 0;
  background: transparent;
  cursor: pointer;
}

/* Footer */
.footer {
  position: relative;
  display: block;
}

.f-line {
  margin-bottom: 52px;
  border: 1px solid #ddd;
}

.footer .inner {
  position: relative;
  display: block;
}

.footer-top {
}

.footer-top-left {
  float: left;
}

.footer-logo {
  display: inline-block;
  width: 123px;
  height: 26px;
  background: url("../images/sp_common.png") no-repeat 0 -47px;
}

.footer-number {
  margin-left: 13px;
  font-size: 30px;
  font-weight: 600;
}

.footer-contact {
  margin-top: 15px;
}

.footer-contact li {
  float: left;
}

.footer-contact li a {
  padding: 10px;
  font-size: 16px;
  color: #888;
}

.footer-contact li strong {
  font-weight: 600;
  color: #111;
}

.footer-top-right {
  float: right;
}

.footer-top-langbox {
  height: 19px;
  line-height: 19px;
  border-bottom: 1px solid #888;
}

.footer-top-lang {
  color: #888;
  padding-right: 122px;
  height: 100%;
  font-size: 14px;
  border: 0;
  letter-spacing: -0.75px;
  appearance: none;
  outline: none;
}

.footer-top-langbox::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: transparent #000 #000 transparent;
  transform: rotate(45deg);
  z-index: 99;
}

.footer-top-lang option {
}

.app-box {
  padding-top: 19px;
}

.app {
  padding-left: 10px;
  padding-right: 14px;
  font-size: 13px;
  margin-top: 22px;
  vertical-align: middle;
}

.apple {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 26px;
  background: url("../images/sp_common.png") no-repeat -447px 0;
  vertical-align: middle;
  margin-right: 16px;
}

.android {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 23px;
  background: url("../images/sp_common.png") no-repeat -478px 0;
  vertical-align: middle;
}

.footer-center {
  margin-top: 25px;
  line-height: 1.75;
  color: #888;
  font-size: 12px;
  margin-bottom: 50px;
}

.footer-center p {
}

.f-center-footer {
  position: relative;
  margin-top: 12px;
}

.sns {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 165px;
  height: 20px;
  z-index: 9;
  transition: top 0.5s;
}

.sns-list {
  opacity: 0.5;
}

.sns-list li {
  display: inline-block;
  text-align: center;
  margin-right: 16px;
}

.sns-list li:last-child {
  margin-right: 0;
}

.sns-list li a {
  color: #888;
  font-size: 12px;
}

.sns-list li a i {
  display: inline-block;
}

.blog {
  width: 13px;
  height: 20px;
  background: url("../images/sp_common.png") no-repeat -509px 0;
}

.instagram {
  width: 21px;
  height: 21px;
  background: url("../images/sp_common.png") no-repeat -532px 0;
}

.facebook {
  width: 11px;
  height: 22px;
  background: url("../images/sp_common.png") no-repeat -563px 0;
}

.youtube {
  width: 25px;
  height: 19px;
  background: url("../images/sp_common.png") no-repeat -584px 0;
}

.twiter {
  width: 23px;
  height: 19px;
  background: url("../images/sp_common.png") no-repeat -619px 0;
}

.footer-bottom {
  padding: 30px 0;
  background: #f5f5f5;
}

.footer-bottom ul {
}

.footer-bottom ul li {
  display: inline-block;
  margin-right: 43px;
}

.footer-bottom ul li:last-child {
  margin-right: 0;
}

.footer-bottom ul li i {
  display: block;
  font-size: 0;
  float: left;
}

.footer-bottom ul li p {
  float: left;
  padding-left: 7px;
  font-size: 11px;
  color: #888;
  line-height: 16px;
}

.f-b-icon1 {
  width: 37px;
  height: 37px;
  background: url("../images/list_awards.png") no-repeat center;
}

.f-b-icon2 {
  width: 30px;
  height: 40px;
  background: url("../images/list_awards2.png") no-repeat center;
}

.f-b-icon3 {
  width: 41px;
  height: 28px;
  background: url("../images/list_awards3.png") no-repeat center;
}

.f-b-icon4 {
  width: 41px;
  height: 28px;
  background: url("../images/list_awards4.png") no-repeat center;
}

.f-b-icon5 {
  width: 45px;
  height: 35px;
  background: url("../images/list_awards5.png") no-repeat center;
}

.f-b-icon6 {
  width: 36px;
  height: 38px;
  background: url("../images/list_awards6.png") no-repeat center;
}

.mb-br,
.mb-copy,
.mb-footer-center {
  display: none;
}

.mb-footer-app {
  position: relative;
  display: none;
  padding: 30px 0;
  background: #f5f5f5;
  margin-bottom: 71px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.mb-appbox {
  display: flex;
  justify-content: space-around;
}

.mb-appbox li {
  position: relative;
  display: block;
}

.mb-appbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 40px;
  background: #e4e4e4;
}

.mb-appbox li a {
  position: relative;
  display: block;
  color: #888;
  font-size: 12px;
}

@media screen and (max-width: 930px) {
  .footer-contact li a {
    padding: 1.08vw;
    font-size: 1.72vw;
  }

  .app {
    padding-left: 1.08vw;
    padding-right: 1.51vw;
    font-size: 1.4vw;
  }

  .sns {
    top: 28px;
  }
}

@media screen and (max-width: 800px) {
  .footer-bottom {
    display: none;
  }

  .footer-logo,
  .footer-number,
  .app-box,
  .sns,
  .mb-footer-centerbox,
  .mb-footer-centerbox p:nth-child(4) {
    display: none;
    padding-left: 1.08vw;
  }

  .mb-br,
  .mb-copy,
  .mb-footer-center {
    display: block;
    padding-left: 1.08vw;
  }

  .footer-contact li {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .footer-top-langbox {
    height: 15px;
    margin-right: 10px;
  }

  .footer-top-lang {
    padding-right: 20px;
    font-size: 11px;
    border-bottom: 1px solid #888;
  }

  .footer-top-langbox::after {
    right: 16px;
    top: 5px;
    width: 6px;
    height: 6px;
  }

  .mb-footer-centerbox {
    margin-bottom: 10px;
  }

  .mb-copy {
    margin-top: 25px;
  }

  .mb-footer-center::after {
    content: "";
    margin-left: 8px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: transparent #000 #000 transparent;
    transform: rotate(45deg);
    vertical-align: 3px;
  }

  .f-center-footer {
    margin-top: 0;
  }

  .f-line {
    margin-bottom: 10px;
  }

  .footer-center {
    margin-bottom: 20px;
  }

  .mb-footer-app {
    display: block;
  }
}
